@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


// custome color variables
$frist: #052d24;
$second: #ddfc98;


html,body{
    background-color: $frist;
    font-family: "Oswald", sans-serif;
    height: 100%;
}

header{
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $frist;
    h1{
        color: $second;
    }
    nav{
        .navbar-brand{
            color: $second;
        }
        li{
            padding: 5px 15px !important;
            a{
                color: $second !important;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
    }
}

h1{
    color: $second;
    text-transform: uppercase;
}

h3{
    color: $second;
    font-size: 20px;
}
h2{
    color: $second;
    font-size: 65px;
}

#home{
    p{
        font-size: 18px;
    }
    img{
        border-radius: 20px;
        border: 2px solid $second;
        transform: rotate(5deg);
        height: 400px;
        width: 390px;
    }
    .social-icon{
        a{
            text-decoration: none;
            border: 1px solid $second;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            width: 40px;
            height: 40px;
            line-height: 38px;
            margin-right: 10px;
            transition: 0.5s;
            i{
                color: $second;
            }
            &:hover{
                color: $frist !important;
                background-color: $second;
                i{
                    color: $frist !important;
                }
            }
        }
    }
    h1{
        font-size: 50px;
        span{
            font-size: 20px;
            display: inline-block;
        }
    }
}

.btn-dow{
    background-color: transparent;
    border: 2px solid $second;
    color: $second;
    border-radius: 30px;
    padding: 15px 50px;
    transition: 0.7s;
    &:hover{
        background-color: $second;
        color: $frist;
    }
}

label{
    margin-bottom: 5px;
    color: $second;
}

p{
    color: $second;
}

section{
    min-height: 100%;
    // border: 2px solid #fff;
    padding: 20px 0;
}

#home{
    margin-top: 88px;
}

.form-control{
    height: 50px;
    border-radius: 0px;
}
textarea.form-control{
    height: auto;
}

.btn-submit{
    width: 100%;
    background-color: $second;
    height: 50px;
    border-radius: 0;
    text-transform: uppercase;
    &:hover{
        background-color: $second;
    }
}